*.zip filter=lfs diff=lfs merge=lfs -text
Backend/src/models/fine_tuned_sentence_transformer/** filter=lfs diff=lfs merge=lfs -text
Backend/data/fine_tuned_sentence_transformer2/** filter=lfs diff=lfs merge=lfs -text
