fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20
python-dotenv==1.0.1
pdfminer.six==20240706
spacy==3.8.3
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl#sha256=293e9547a655b25499198ab15a525b05b9407a75f10255e405e8c3854329ab63
skillNer==1.0.3
sentence-transformers==3.3.1
numpy==2.2.1
scikit-learn==1.6.1
openai==1.65.3
